<div class="container mb-4">
    <div class="card p-4 shadow-lg custom-form border border-secondary rounded">
      <h3>{{tipo}}</h3>
      <figure class="text-center mb-4">
        <img 
          class="img-fluid shadow-lg rounded-circle border border-secondary"
          src="{{defultImage}}" 
          [alt]="" 
          style="max-width: 250px; height: auto;"
        />
      </figure>
      <form class="row" [formGroup]="modelForm">
        <div class="col-md-6">
          <div class="mb-3">
            <label for="first_name" class="fw-bold">First Name</label>
            <input type="text" class="form-control border p-2 rounded" formControlName="first_name" id="first_name" />
            <small class="error" *ngIf="checkControl('first_name','required')">El campo es requerido</small>
            <small class="error" *ngIf="checkControl('first_name','minlength')">Longitud mínima de un nombre debe ser 3 caracteres</small>
          </div>
  
          <div class="mb-3">
            <label for="last_name" class="fw-bold">Last Name</label>
            <input type="text" class="form-control border p-2 rounded" id="last_name" formControlName="last_name"/>
            <small class="error" *ngIf="checkControl('last_name','required')">El campo es requerido</small>
            <small class="error" *ngIf="checkControl('last_name','minlength')">Longitud mínima de un apellido debe ser 3 caracteres</small>
          </div>
  
          <div class="mb-3">
            <label for="username" class="fw-bold">Username</label>
            <input type="text" class="form-control border p-2 rounded" id="username" formControlName="username"/>
            <small class="error" *ngIf="checkControl('username','required')">El campo es requerido</small>
            <small class="error" *ngIf="checkControl('username','minlength')">Longitud mínima de un username debe ser 3 caracteres</small>
          </div>
  
          <div class="mb-3">
            <label for="image" class="fw-bold">Image URL</label>
            <input type="text" class="form-control border p-2 rounded" id="image" formControlName="image"/>
            <small class="error" *ngIf="checkControl('image','required')">El campo es requerido</small>
            <small class="error" *ngIf="checkControl('image','minlength')">Longitud mínima de la imagen debe ser 3 caracteres</small>
          </div>
        </div>
  
        <div class="col-md-6">
          <div class="mb-3">
            <label for="email" class="fw-bold">Email</label>
            <input type="email" class="form-control border p-2 rounded" id="email" formControlName="email"/>
            <small class="error" *ngIf="checkControl('email','required')">El campo es requerido</small>
            <small class="error" *ngIf="checkControl('email','pattern')">El email es incorrecto</small>
          </div>
  
          <div class="mb-3">
            <label for="password" class="fw-bold">Password</label>
            <input type="password" class="form-control border p-2 rounded" id="password"formControlName="password" />
            <small class="error" *ngIf="checkControl('password','required')">El campo es requerido</small>
          </div>
  
          <div class="mb-3">
            <label for="repitepassword" class="fw-bold">Repite Password</label>
            <input type="password" class="form-control border p-2 rounded" id="repitepassword" formControlName="repitepassword" />
            <small class="error" *ngIf="checkControl('repitepassword','required')">El campo es requerido</small>
            <small class="error" *ngIf="modelForm.hasError('checkpassword')">Los campos de password deben coincidir.</small>
          </div>
        </div>
  
        <div class="text-center mt-4">
          <button type="button" class="btn btn-danger btn-lg px-4 me-2" [routerLink]="['/home']">Volver</button>
          <button type="submit" (click)="insert()" class="btn btn-danger btn-lg" [disabled]="!modelForm.valid">{{tipo}}</button>
        </div>
      </form>
    </div>
  </div>