<div class="container">
    <div *ngIf="miUsuario">
        <section class="row g-3">
            <figure class="col-12 col-md-4">
                @if(!miUsuario.image.startsWith('http')){
                    <img class="img-fluid" [src]=" './assets/images/'  + miUsuario.image" [alt]="miUsuario.username" >
                }@else{
                    <img class="img-fluid" [src]="miUsuario.image" [alt]="miUsuario.username" >
                }
            </figure>
            <div class="col-12 col-md-8">
                <h2>{{miUsuario.first_name}}</h2>
                <p>ID: {{miUsuario.id}}</p>
                <p>Email: {{miUsuario.email}}</p>
            </div>
        </section>
    </div>
</div>